h1{
    background-color: brown;
    padding: 6px;
}
#barra{
    background-color: dodgerblue;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 100;
}

.datosPersonales{
    padding: 20px;
    background-color: rgb(0, 255, 255);
    position: relative;
    left: 10px;
}

.historiaClinica{
    padding: 20px;
    background-color: rgb(229, 255, 0);
    position: relative;
    left: 10px;
}